.app {
  text-align: center;
}

.app__form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
}

.app__todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
